.navigationStyles {
    width: auto;
    height: 60px;
    background-color: #f3f4f6;
}

.linksOuterWrapper {
    width: 100%;
    line-height: 60px;
    display: flex;
    justify-content: space-between;
}

.linksWrapper {
    padding: 0 16px;
}

.burgerWrapper {
    display: flex;
    justify-content: flex-end;
}