body {
  margin: 0;
  font-family: 'Roboto Mono', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --primary-black: #151317;
  --buttons-black: #282728;
  --primary-blue: #326aff;
  --primary-grey: #9e9d9e;
  --secondary-grey: #d1d5db;
  --primary-white: #f2f1f2;
  --white: #fff;
  --grey-hover: #d1d5db;
  --text-color: #565656;
  --placeholder-color: #808080;
}
