# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/DCB-Frontend/node_modules
/DCB-Frontend/.pnp
/DCB-Frontend/.pnp.js
/DCB-Frontend/.vscode

# testing
/DCB-Frontend/coverage

# production
/DCB-Frontend/build

# misc
/DCB-Frontend/.DS_Store
/DCB-Frontend/.env.local
/DCB-Frontend/.env.development.local
/DCB-Frontend/.env.test.local
/DCB-Frontend/.env.production.local

/DCB-Frontend/npm-debug.log*
/DCB-Frontend/yarn-debug.log*
/DCB-Frontend/yarn-error.log*

.vs
