.pageWrapper {
    display: flex;
    flex-wrap: wrap;
    padding: 0 16px;
    flex-direction: column-reverse;
    text-align: center;
}

.imageWrapper {
    margin-top: 64px;
    text-align: center;
}

.childStyles {
    max-width: 320px;
    margin: auto;
}

.imageStyles {
    width: 100%;
    border-radius: 16px;
}

.buttonsWrapper,
.additionalInfo {
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.additionalText {
    color: var(--primary-grey);
    margin: 8px 0 0;
}

.additionalIcon {
    margin-top: 8px;
}

@media screen and (min-width: 480px) {
    .imageWrapper {
        margin-bottom: 64px;
    }
}

@media screen and (min-width: 768px) {
    .pageWrapper {
        text-align: initial;
        flex-direction: row;
        justify-content: space-between;
    }

    .childWrapper {
        width: 45%;
    }

    .childStyles {
        max-width: 480px;
    }

    .buttonsWrapper,
    .additionalInfo {
        flex-direction: row;
        justify-content: space-between;
    }

    .buttonsWrapper {
        justify-content: flex-start;
    }

    .imageStyles {
        max-width: 480px;
        height: 90%;
        margin: 0;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }
}