.footerWrapper {
    margin-top: 16px;
    width: 100%;
    justify-content: center;
    background-color: #f3f4f6;
}

.footerWrapper p {
    margin: 4px 0;
}

.contactsInfoWrapper {
    display: flex;
    flex-direction: column;
}

.infoBox {
    margin-top: 16px;
    text-align: center;
}

.infoHeader {
    font-weight: bold;
}

.rights {
    text-align: center;
}

@media screen and (min-width: 768px) {
    .contactsInfoWrapper {
        flex-direction: row;
        justify-content: space-evenly;
    }
}