.footerWrapper {
    width: 100%;
    justify-content: center;
    position: absolute;
    bottom: 0;
    background-color: #f3f4f6;
}

.contactsInfoWrapper {
    display: flex;
    justify-content: space-evenly;
}

.infoBox {
    text-align: center;
}

.infoHeader {
    font-weight: bold;
}